<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>ewe blog - tech</title>
    <link rel='stylesheet' href='/css/styles.css' />
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
  </head>

  <body>

    <div class='wrapper'>

      <header>
        <h1>
          <a href='/'>ewe blog - tech</a>
        </h1>
        <nav>
          {{#if loggedIn}}
            <a href='/dash'>{{username}}'s dashboard</a>
            <button id='logout' class='btn-no-style'>logout</button>
          {{else}}
            <a href='/login'>login</a>
          {{/if}}
        </nav>
      </header>

      <main>
        {{{body}}}
      </main>

      <footer>
        <pre>
        __  _
    .-.'  `; `-._  __  _
   (_,  &copy; 2022 .-:'  `; `-._
 ,'o"(        (_,           )
(__,-'      ,'o"(  <a href="https://github.com/branjames117" target="new">bran</a>      )>
   (       (__,-'    <a href="https://github.com/branjames117" target="new">james</a>   )
    `-'._.--._(             )
       |||  |||`-'._.--._.-'
                  |||  |||</pre>
        </pre>
      </footer>
    </div>

    {{#if loggedIn}}
      <script src='/js/logout.js'></script>
    {{/if}}

  </body>

</html>