{{#if posts}}
 <ul class='post-list'>
  {{#each posts as |post|}}
    <li>
     {{> post-info post }}
    </li>
  {{/each}}
</ul>
{{else}}
<p>No posts have been published yet.</p>
<p>Be the first! {{#if loggedIn}}Visit your <a href="/dash">Dashboard</a> to create a new post.{{else}}<a href="/signup">Sign up</a> or <a href="/login">log in</a> to create a new post!{{/if}}</p>
{{/if}}

