{{> full-post post}}

{{#if loggedIn}}
  <form class='comment-form'>
    <div>
      <textarea id='comment-body' name='comment-body'></textarea>
    </div>
    <p class="error-text"></p>
    <div>
      <button type='submit'>add comment</button>
    </div>
  </form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
  <script src='/js/comment.js'></script>
{{/if}}