{{> full-post post }}

  {{#if (user_owns_post username post.user.username)}}
  <button type='submit' id="edit-post-btn">edit post</button>
  {{else}}
  {{/if}}

{{#if loggedIn}}
  <form class='comment-form'>
    <div>
      <textarea id='comment-body' name='comment-body'></textarea>
    </div>
    <p class="error-text"></p>
    <div>
      <button type='submit'>add comment</button>
    </div>
  </form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
  <script src="/js/edit-btn.js"></script>
  <script src='/js/comment.js'></script>
{{/if}}